* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {

  background-color: white;
  transition: background 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.intro-section {
  height: 80vh;
  background: url('/assets/images/bat.jpg');
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

.intro-text {
  position: relative;
  z-index: 1;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

#planContainer {
  transition: all 0.3s ease-in-out;
}
a.text-white {
  margin-right: 12px;
  text-decoration: none;
}
.bg-black {
  background-color: #000;
}

