body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  transition: background 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

.intro-section {
  height: 80vh;
  background: url('/excersices/assets/images/bat.jpg') no-repeat center center/cover;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}

.intro-text {
  position: relative;
  z-index: 1;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

#planContainer {
  transition: all 0.3s ease-in-out;
}

a.text-white {
  margin-right: 12px;
  text-decoration: none;
}
